$main-color: #d23669;
$span-color: #9EABB3;

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.75;
    font-size: 1.1rem;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, a, a:hover {
    color: $main-color;
}

a:hover {
    text-decoration: none;
}

.site-top-margin {
    margin-top: 30px;
}

.links {
    font-size: 1.5rem;
}

.list-style-none {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.paginator {
    color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.paginator > * {
    margin: 5px;
}

.page-number {
    margin: 0;
}

.published-on {
    font-size: 0.8rem;
    font-style: italic;
    color: $span-color;
}

.footer {
    bottom: 0;
    margin-top: auto!important;
}