---
layout: default
---

<div class="row">
  <div class="col-md-12">
    <h2 class="post-title">
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h2>
    {%- include published.html -%}
  </div>
  <div class="col-md-12">{{ content }}</div>
  <div class="col-md-12">
    <hr>
    {% if site.edit_enabled %}
    <p><a href="{{site.repository_url}}{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | remove: " -" | replace: " ", "-" }}.md" target="_blank" rel="noopener noreferrer">Help me to improve this article</a></p>
    {% endif %}
  </div>
  {% if page.comments %}
  <div class="col-md-12">
       {%- include disquss.html -%} 
  </div>
  {% endif %}
</div>


